body {
  background-image: linear-gradient(to right bottom, #9f84d4, #7e62b7, #5e419b, #3d217f, #160064);
}

.contenedor1 {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 13px 48px -5px #000000;
}
.contenedor1 .img-content {
  height: 50em;
  width: 100%;
}

.text-1-index {
  font-size: 1.4em;
}
@media screen and (max-width: 890px) {
  .text-1-index {
    font-size: 0.4em;
  }
}

.img-mundo {
  height: 750px;
  width: 45em;
  filter: drop-shadow(20px 20px 20px rgba(0, 0, 0, 0.8));
}
@media screen and (max-width: 890px) {
  .img-mundo {
    height: 350px;
    width: 20em;
    filter: drop-shadow(20px 20px 20px rgba(0, 0, 0, 0.8));
  }
}

.conten-sub1 {
  background-color: #9d3184;
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
  border-radius: 8em;
  box-shadow: 5px 13px 48px -5px #000000;
  color: white;
  width: 40%;
}

.contenedor3-curso-img img, .contenedor2-curso-img img, .contenedor1-curso-img img {
  height: 650px;
  filter: drop-shadow(20px 20px 20px rgba(0, 0, 0, 0.8));
}

.contenedor3-curso-text, .contenedor2-curso-text, .contenedor1-curso-text {
  background-color: #5f408f;
  box-shadow: 5px 13px 48px -5px #000000;
  border-radius: 8em;
  padding: 10px;
}

.contenedor3-curso-img img, .contenedor2-curso-img img, .contenedor1-curso-img img {
  height: 550px;
  filter: drop-shadow(20px 20px 20px rgba(0, 0, 0, 0.8));
}
@media screen and (max-width: 890px) {
  .contenedor3-curso-img img, .contenedor2-curso-img img, .contenedor1-curso-img img {
    height: 250px;
    filter: drop-shadow(20px 20px 20px rgba(0, 0, 0, 0.8));
  }
}

.contenedor3-curso-text {
  left: 10%;
}

.becas-banner .becas-banner-img {
  height: 45em;
  width: 100%;
  box-shadow: 8px 30px 27px -6px rgba(0, 0, 0, 0.1);
}
.becas-banner .titulo-becas h1 {
  font-size: 1.5em;
}
@media screen and (max-width: 890px) {
  .becas-banner .titulo-becas h1 {
    font-size: 0.6em;
  }
}

.contenedor-b-1 {
  background-color: #764cb6;
  border-radius: 25px;
  box-shadow: 6px 10px 0px -4px rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  border: solid 2px rgba(0, 0, 0, 0);
}

.cont-b-2 {
  background-color: #764cb6;
  border-radius: 25px;
  box-shadow: 6px 10px 0px -4px rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  border: solid 2px rgba(0, 0, 0, 0);
  margin-bottom: 2em;
}

.cont-b-vid {
  padding: 20px;
  box-shadow: 8px 15px 0px -4px rgba(0, 0, 0, 0.4);
  border-radius: 25px;
  border: solid 2px rgba(0, 0, 0, 0);
  margin-bottom: 3em;
}

.cont-b-3 {
  background-color: #764cb6;
  border-radius: 25px;
  box-shadow: 6px 10px 0px -4px rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  border: solid 2px rgba(0, 0, 0, 0);
  margin-bottom: 2em;
}

.contenedor1-curso-text, .contenedor2-curso-text, .contenedor3-curso-text {
  background-color: #5f408f;
  box-shadow: 5px 13px 48px -5px #000000;
  border-radius: 8em;
  padding: 10px;
}

.cont-4 {
  background-color: white;
  box-shadow: 6px 10px 0px -4px rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  border: solid 3px #004483;
  padding: 10px;
}

.cont-4-img {
  height: 550px;
  width: 100%;
  filter: drop-shadow(20px 0px 20px rgba(0, 0, 0, 0.8));
}

.cont-5-text {
  background-color: #d58cf1;
  box-shadow: 6px 10px 0px -4px rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  border: solid 3px #004483;
  padding: 0px;
  margin-left: 10px;
}

.cont-5-img {
  height: 400px;
  background-color: #e0e0e0;
  box-shadow: 6px 10px 0px -4px rgba(0, 0, 0, 0.4);
  border: solid 3px #004483;
  border-radius: 20px;
}

.cursos-cont-img {
  width: 100%;
  height: 45em;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.cont-text1 {
  font-size: 1.3em;
}
@media screen and (max-width: 890px) {
  .cont-text1 {
    font-size: 0.6em;
  }
}

.cont-cursos-8, .cont-cursos-5, .cont-cursos-4, .cont-cursos-2, .cont-cursos-1 {
  background-color: #5f408f;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  padding: 5px;
  border-radius: 20px;
  border: solid 3px white;
  color: white;
}

.cont-cursos-1 {
  margin-bottom: 20px;
}

.cont-cursos-2 {
  width: 100%;
}

.cont-cursos-text {
  background-color: #d4d4d4;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  border-radius: 20px;
  border: solid 3px white;
  padding: 5px;
}

.cont-curso-vid {
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  border-radius: 20px;
  order: 1;
}

.CONT-CURSOS-6 {
  background-color: white;
  box-shadow: 6px 10px 0px -4px rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  border: solid 3px #004483;
  padding: 10px;
}

.CONT-CURSOS-7 {
  background-color: white;
  box-shadow: 6px 10px 0px -4px rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  border: solid 3px #004483;
  padding: 10px;
}

.vector3, .vector2, .vector1 {
  width: 550px;
  width: 100%;
  filter: drop-shadow(20px 0px 20px rgba(0, 0, 0, 0.8));
}

.cont-nos-img {
  height: 45em;
  width: 100%;
}

.cont-nos-1 {
  font-size: 1em;
}
@media screen and (max-width: 890px) {
  .cont-nos-1 {
    font-size: 0.6em;
  }
}

.cont-nos-2 {
  background-color: #cf6c6c;
  box-shadow: 5px 6px 15px -5px #000000;
  border-radius: 20px;
  padding: 5px;
  border: solid 3px rgba(0, 0, 0, 0);
  margin-bottom: 10px;
}

.cont-nos-3 {
  background-color: #a36ccf;
  box-shadow: 5px 6px 15px -5px #000000;
  border-radius: 20px;
  padding: 5px;
  border: solid 3px rgba(0, 0, 0, 0);
  margin-bottom: 10px;
}

.cont-nos-vid {
  box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.75);
  border-radius: 70px;
  order: 1;
  border: solid 5px white;
}

.cont-nos-4 {
  background-color: aliceblue;
  border-radius: 20px;
  border: solid 5px white;
  box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  border-radius: 70px;
  padding: 10px;
}

.cont-nos-img1 {
  box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.75);
  border-radius: 20px;
  border: solid 5px rgba(0, 0, 0, 0.9333333333);
  margin-bottom: 10px;
}
@media screen and (max-width: 890px) {
  .cont-nos-img1 {
    height: 300px;
    width: 300px;
    box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.75);
    border-radius: 20px;
    border: solid 5px rgba(0, 0, 0, 0.9333333333);
    margin-bottom: 10px;
  }
}

.const-nos-5 {
  background-color: aliceblue;
  border-radius: 20px;
  border: solid 5px white;
  box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.75);
  border-radius: 20px;
  margin-bottom: 15px;
  padding: 10px;
}

.const-nos-6 {
  background-color: aliceblue;
  border-radius: 20px;
  border: solid 5px white;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.75);
  border-radius: 20px;
  margin-bottom: 15px;
  padding: 10px;
}

.const-nos-7 {
  background-color: aliceblue;
  border: solid 5px white;
  box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.75);
  margin-bottom: 15px;
  padding: 10px;
}

.cont-nos-img2 {
  height: 400px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  border-radius: 20px;
  border: solid 5px rgba(0, 0, 0, 0.9333333333);
}
@media screen and (max-width: 890px) {
  .cont-nos-img2 {
    height: 300px;
    width: 300px;
    box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.75);
    border-radius: 20px;
    border: solid 5px rgba(0, 0, 0, 0.9333333333);
    margin-bottom: 10px;
  }
}

.cont-nos-img3 {
  height: 400px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  border-radius: 20px;
  border: solid 5px rgba(0, 0, 0, 0.9333333333);
}
@media screen and (max-width: 890px) {
  .cont-nos-img3 {
    height: 300px;
    width: 300px;
    box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.75);
    border-radius: 20px;
    border: solid 5px rgba(0, 0, 0, 0.9333333333);
    margin-bottom: 10px;
  }
}

.const-nos-8 {
  background-color: #ffc55e;
  border-radius: 20px;
  border: solid 5px white;
  box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.75);
  margin-bottom: 15px;
  border-radius: 10px;
}

.const-nos-8-img {
  height: 400px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  border-radius: 20px;
  border: solid 5px rgba(0, 0, 0, 0.9333333333);
}
@media screen and (max-width: 890px) {
  .const-nos-8-img {
    height: 300px;
    width: 300px;
    box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.75);
    border-radius: 20px;
    border: solid 5px rgba(0, 0, 0, 0.9333333333);
    margin-bottom: 10px;
  }
}

h2 {
  text-align: center;
  color: #333333;
}

form {
  background-color: white;
  box-shadow: 6px 10px 0px -4px rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  border: solid 3px #004483;
  padding: 10px;
  align-self: center;
  width: 50%;
}

label {
  display: block;
  margin-top: 10px;
  color: #666666;
}

input[type=text],
input[type=email],
input[type=cel],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 3px;
}

input[type=submit] {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  border: none;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 3px;
}

input[type=submit]:hover {
  background-color: #6a2cdb;
}

.cont-tr-1 {
  background-color: white;
  box-shadow: 6px 10px 0px -4px rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  border: solid 3px #004483;
  padding: 10px;
}

.vector4 {
  width: 550px;
  width: 100%;
  filter: drop-shadow(20px 0px 20px rgba(0, 0, 0, 0.8));
}

.pie-pagina {
  width: 100%;
  background-color: #0a141d;
}

.pie-pagina .grupo-1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0px;
}
@media screen and (max-width: 890px) {
  .pie-pagina .grupo-1 {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px;
  }
}

.pie-pagina .grupo-1 .box figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pie-pagina .grupo-1 .box figure img {
  width: 250px;
}

.pie-pagina .grupo-1 .box h2 {
  color: #fff;
  margin-bottom: 25px;
  font-size: 20px;
}

.pie-pagina .grupo-1 .box p {
  color: #efefef;
  margin-bottom: 10px;
}

.pie-pagina .grupo-1 .red-social a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  margin-right: 10px;
  background-color: #0d2033;
  text-align: center;
  transition: all 300ms ease;
}

.pie-pagina .grupo-1 .red-social a:hover {
  color: aqua;
}

.pie-pagina .grupo-2 {
  background-color: #0a1a2a;
  padding: 15px 10px;
  text-align: center;
  color: #fff;
}

.pie-pagina .grupo-2 small {
  font-size: 15px;
}

@media screen and (max-width: 800px) {
  .pie-pagina .grupo-1 {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px;
  }
}
.contenedor {
  position: relative;
  display: inline-block;
  text-align: center;
  width: 100%;
}

.centrado {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 10em;
  color: #ffffff;
}

.pie-pagina {
  width: 100%;
  background-color: #0a141d;
}

.pie-pagina .grupo-1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0px;
}

.pie-pagina .grupo-1 .box figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pie-pagina .grupo-1 .box figure img {
  width: 250px;
}

.pie-pagina .grupo-1 .box h2 {
  color: #fff;
  margin-bottom: 25px;
  font-size: 20px;
}

.pie-pagina .grupo-1 .box p {
  color: #efefef;
  margin-bottom: 10px;
}

.pie-pagina .grupo-1 .red-social a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  margin-right: 10px;
  background-color: #0d2033;
  text-align: center;
  transition: all 300ms ease;
}

.pie-pagina .grupo-1 .red-social a:hover {
  color: aqua;
}

.pie-pagina .grupo-2 {
  background-color: #0a1a2a;
  padding: 15px 10px;
  text-align: center;
  color: #fff;
}

.pie-pagina .grupo-2 small {
  font-size: 15px;
}/*# sourceMappingURL=style.css.map */