




.footer{
    background-color: #09093b;
    width: 100%;
    display: flex;
    justify-content:center ;
    align-items: center;
padding: 5%;

@include mobile1{
    width: 100%;
        }

}


.footer-cont{
    color: #ffffff;}

   
        

        .f-cont1-cont{

            height: 30px;
            background-color: #262697;
            margin: 10px;
        }
    

.fila-1{
    background-color:#09093b ;}


    .f-cont-img{
        height: 150px; 
        margin: 10px;
    }

    .f-cont1-text1{
        font-size: 1.5em;
        color: #ffffff;
        margin-right: 10px;
      
        @include mobile1{
           margin-right: 10px;
                }
    }

    .f-cont1-text2{
        font-size: 0.8em;
    }
      

    .f-cont1-cont{

        height: 40px;
        background-color: #262697;
        margin: 10px;
        display: flex;
        justify-content: center;
        align-items: center;

        @include mobile1{
            height: 30px;
                }
       
    }

    .img-foot{
        height: 30px;
        @include mobile1{
            height: 15px;
                }

    

    }